<?xml version="1.0" encoding="UTF-8" ?>
<service id="jabber">
  <type>IM</type>
  <provider>jabber</provider>
  <name>Jabber</name>
  <icon>icon-m-common-xmpp</icon>
  <template>
    <setting name="manager"        type="s">gabble</setting>
    <setting name="protocol"       type="s">jabber</setting>

    <parameters>
        <setting name="server"/>
        <setting name="account"/>
        <setting name="ignore-ssl-errors" type="b">true</setting>
        <setting name="password">
    </parameters>
  </template>
</service>