<?xml version="1.0" encoding="UTF-8" ?>
<service id="xmpp">
  <type>IM</type>
  <provider>xmpp</provider>
  <name>XMPP</name>
  <icon>icon-m-common-xmpp</icon>
  <template>
    <setting name="manager"        type="s">gabble</setting>
    <setting name="protocol"       type="s">jabber</setting>
  </template>

  <type-data>
    <service-presences-list>
      <i18n-domain>rtcom-libpresence</i18n-domain>

      <presence id="available" type="Available" >
        <presence-icon size="small">icon-s-common-presence-online</presence-icon>
        <presence-icon size="medium">icon-m-common-presence-online</presence-icon>
        <i18n-name>qtn_comm_presence_online</i18n-name>
      </presence>
      <presence id="offline" type="Offline">
        <presence-icon size="small">icon-s-common-presence-offline</presence-icon>
        <presence-icon size="medium">icon-m-common-presence-offline</presence-icon>
        <i18n-name>qtn_comm_presence_offline</i18n-name>
      </presence>
      <presence id="away" type="Away">
        <presence-icon size="small">icon-s-common-presence-away</presence-icon>
        <presence-icon size="medium">icon-m-common-presence-away</presence-icon>
        <i18n-name>qtn_comm_presence_away</i18n-name>
      </presence>
      <presence id="busy" type="Busy">
        <presence-icon size="small">icon-s-common-presence-busy</presence-icon>
        <presence-icon size="medium">icon-m-common-presence-busy</presence-icon>
        <i18n-name>qtn_comm_presence_busy</i18n-name>
      </presence>
      <presence id="invisible" type="Hidden">
        <presence-icon size="small">icon-s-common-presence-unknown</presence-icon>
        <presence-icon size="medium">icon-m-common-presence-unknown</presence-icon>
        <i18n-name>qtn_comm_presence_invisible</i18n-name>
      </presence>      
    </service-presences-list>
  </type-data>

</service>