Source: xmpp-accounts
Section: user/network
Priority: optional
Maintainer: Bernd Wachter <bwachter@lart.info>
Build-Depends: debhelper (>= 5.0.0), aegis-builder (>= 1.4)
Standards-Version: 3.6.0

Package: xmpp-accounts
Architecture: all
Section: user/network
Depends: account-plugin-sip
Description: XMPP accounts plugin for Harmattan
XSBC-Maemo-Display-Name: XMPP accounts