Source: xmpp-accounts
Section: user/network
Priority: optional
Maintainer: Bernd Wachter <bwachter@lart.info>
Build-Depends: debhelper (>= 5.0.0), aegis-builder (>= 1.4), libmeegotouch-dev, applauncherd-dev
Standards-Version: 3.6.0

Package: xmpp-accounts
Architecture: any
Section: user/network
Depends: account-plugin-sip
Description: XMPP (Jabber) accounts plugin for Harmattan.
 This packages allows the creation of arbitrary XMPP (Jabber) accounts through AccountsUI.
XSBC-Maemo-Display-Name: XMPP (Jabber) accounts plugin
XB-Maemo-Icon-26:
  iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAKd0lEQVRo3u1YaZBeVZl+3vfc5dxv
  6SVJZyHpbkPoTEKIMRFMIBqWTIZiGTSWYTGishgkBLTUokCrNFoIY1HWzOCMCpSASM1gGSkYpGQp
  DAiIJo0SlhDKSOwkdKf766+3b7vbOa8/OnS6w5ZOB0ar8lTdH9/345z3ed/nee45FziKoziKf2gQ
  Flx8PcCb4PJuWIrxwh3yd13xwksZSjRMsggWRFh8aSeIHSJ+ECSPiNBvAfTgudvs31XhSy5zoPgD
  ZLEKwNli7emAfJN42frHQPhnAALwIIAdIDziarNp8WkduxvqbPnhLz/8vpP545rjECjj98Zuw4b+
  j8x/MWpcA2AFxM4BJAAoEth1DmndDsJKiBCABoCWgWhZUF+9xstH7SowD93w2Nrfzmio23HZST+q
  vdeFd37pGGbLM8Ski8NBnDFZJf8y16/NfQnTXcioPjKXIGmnA8/bQczhMKv9EIKbDRvZSVY5Lq1o
  rPf3OY5sv/v5L24G5Emx2CWCIVIUfe5DP55QwV3rm8lRlLPgqQz5MICVRFhKDmaFkAYWqLxrQfAO
  ci8XyaTdDutgB1gVIKZltLfZqwICWCu+TaWVPLQS0VkiqLBDL4rgGWPMzQC6J5QiRHlP8U1GcK4R
  zCIBWwGsCKwIBAC7Doj9MdkDoj1G3E6HXbdDlLMLkJbRC1sngAjDioGxFtbKsE2ALAHLIDjBGtwz
  UQIg8q3go1akxY7OPwFEAAtCzQlArh4tH8CYrdZN+p2IueBr9xmwcyrsAY0lyMJYB4lJEKUpiIYX
  BACxAhBYMakjEORkIerg7BYBxAIGjCE3B3L0aPlYSdNHcM91lvGL6wxc/QD5fkzaxxuPdfIwopFa
  g1IUg0AH7+wLIzfh+pldEcodTMCaYQI1clHwJ4N8PfzoAOT5rwhyzwGAAwDWc7c5rvcHgnwM+3Vn
  yEOU1iGQAgaq4Zs2ZoaylpomSkASqbdKGg+aCmw6PIUBJ4t9QRNIaRAEQpxCZJPy0mryBgE3E8Qg
  /ilYLYE1WQJgwSgns9BIO9FbriIxFopptPlAkLkTJcAsLQTkxrxoBEhjAYugw5uK/sxkEJxh77Lq
  QJI8xDysdwaA6vfXCjzvUfL9bawDsNZg30fJtgJwUQojlKP4zRoVmX/3tovVxCSEBYqJx6xtgTQB
  GBbP59oQ6zxY++AgADnOo+SrFys3X4IRAsMy4r1w3R8ik02gNSjwUeOZqNlpiFODrsHSWALWgggL
  0kQftow61k/zRHCKlbEOSGNADFBSGfx+0iKw9gEdAJ4usuv8sHLj+SOaHiEQblwtnA0eJM/7HesA
  7GtYrw5Dtg1GgM6BElJjx0xAOWoaM885XAKadTMz5puDHJzGwxn6Sm429tY1g30frLUh37sXvn51
  jARH//ChSuyqf0OQ6YTWgA7Qz0tgkEdPqYL+am1MFlljmwBacUf7FeOWUc8XmgnAUgLNPDh9khCI
  2MOvZ5yKMFMPCgJQkPkTed4tJCp5WwK9X10hotQT5Lj3UpAB+T6q3rGo8mzEaYq/9g0e7AOXFc4A
  28z420++o3CaFcmP/jsJBWIEXcFUbJl+EsjXYK0TOOqWnO/tHLr+dLwtAQAY2nByqLS+iX39FGUy
  IjqPHn0mwBq7iwPoGxWpIgIIliuiheOOT+JZVnCe4MBQrQXi6nAK3T/7XHQ2toIzmQS+vgOOt6nz
  ihPfdCrmt1rcWluEo25iX3eT9lDR81D2TkAtSbGrt3+48JE4RSCC1Xfu+jyPKz4hZzNh6mj/JjXA
  poLddc3Y/IGVUL4G+f4LIPr3wbJfe+t13gIDlywQYn6YXO86zubLNtOI7vo1SLgef+7pQ7FywAvG
  CJRSq9HnLbq1fd0hFV+4umU2A5cYe6D7JgWiiiBUGj9b+Hn0TGoFBfp1OM4GUfQqrmnDIRMAgL4L
  jhUo/iXE3kXMccU9DkPBKYiTGK92FzE6+kSkhZlWe/tfjO+E7g0zWYBzBJg7OnziqgCpxbapi7C5
  +TSA1SDE3kgutw9e2PYOk3wHFP91etmUhr5BUXgX4tTs885FzZ2LjuIAdhb6RxNwielKVmreu/df
  tSiirwmQOWDcYQJd2en47wXrUCFdpWr1u25/z63Fc2ak7yzFd8HARW1DCOPvIooeTpOM6XbORiwa
  27sKKEcxCCOn1CmAveL29nXB23Z//VyXiC4XYOTobA0QlgUR+fjZnDV4LTsrpFrlJxLHt3d/dpF5
  dy8dAnrXtu1GWFmHKLx/yBxvC3QWBmoJnuvoQpya/YUImPnTLtPqn2z9Ar3pqrihmaDCMx3GZUaG
  tS8ChCVBmhA2NZ+FB45ZVbNR9AOqDF5f/MzcgUMLg0NE7+VLOhFF1yIKHyiak5KSnIi9AyW8sq93
  5J5grUwiRdeycqZt3LhxrHAgjYrpOiOYNqL7ChCHwNOTl+DnM8+pSBz/SEXV7xW+uKxy6Gk2DhSu
  Wvoa12rrbMh3dkZnhUPJPLz4eg9e6+0feS8QsEixvaHl3M6GkXvvVS11zOrbAJbb/d2Pa0BYstiS
  X4Dvt36ur9cG30Gl9vXuq5YXx1PTuI8Alcd+Ws2dfsEWm7AN0xkf1FzQQ7VO5HwP9YGGCEBEbcRU
  /sQVS7bc5nYTK76SCdcYC/2GaWslQXv2ePnBzDWde9zJX6ckuaP3+lXheOs5rKNw5fF7KvUrzn8y
  Dt091XjWQocLk4rlPVQXaNQHPgD4zLyc43Tn7Jc65rtE/2kF+TeKrw4CT2UWmpunn/9UB02+um/j
  OfdXf3NPcji1HPZZvvTE/0p22ce3m8R9No6mHMtUnTkQ7nW0o9CQCQDAZcGKXKl6drav1Cj7s75U
  dvCr4MTyXfVn/GKXavyyouiF2tO/POzPmXQkPkY1XXlvk+cPXj5j2tarGxv+MuNDLY2YO3UyXEfB
  iRMs+s3zqH+1gL1hnTykF++4O7fixm7O3xffcmF1onurI0Gg2r6pivkXbJU4+L2b8LShuGvOQFSh
  pmyAfClCfnsBvcgmd/LJtz2qjr/2L37LZnPLp+IjsbeDI4TSnRdHO69q3Vfp0z3PVKbi6YEEvGMb
  phUjdH+wBf0nzMLJPpWX4899ly75mjlS+05YQrIRKPS1TiFgJRN9Q6zMq9WIi5Hf/xLnn39knm5y
  5+T/6bimSXp6Qy5ymbfAyrdSi62XfPjH5f9XAsWvtOTShD7GwJVs6YxaCF2N1Z6+yH1wl9Q/dIM9
  88kpi3ZOchq6ztcZOW9GfWZ565R6b3pdtqAd9z4Wug1iXli7+Nb0fSGw8+I5FLgmbyEtRHSKiKxx
  medUIoSVhF8etP4Doahnezj3+trgzBB3bQQgWHXzGoVMb4NyZSmTnJcP3FOn1uWmTMoGNd9Vj5sE
  /4NUXj6mqbF3ftOc+JTmr7w3BNovavM1mbU+zEojHCcptless6OfgpeLNtjzmfv+8K5Z/un/+CQX
  vO7WVOxCh3lpLufP86GOdZm7XOU+roRvvf2i/yu/JwSevbCNXGtzvjWqnDhRD2ejj/evtnhi47hH
  v/K/PgIRzzWS+sysHVaNMCpwFO349frNMY7iKI7iKI7i/cDfAO0zrQAOVxGzAAAAAElFTkSuQmCC